

<div class="row mt-5 mb-5 ml-5 ">

  <div class="linha col-4">

    <div class="login-logo">
      <a href="#"><b>Cadastro de Usuários</b></a>
    </div>

        <form class="" action="cadastrar" method="post">
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="desnome" name="desnome" aria-describedby="emailHelp" placeholder="Seu nome">
          </div>
          <div class="form-group">
            <label for="idsetor">Setor</label>
            <input type="text" class="form-control" id="dessetor" name="dessetor" placeholder="Setor">
          </div>
          <div class="form-group">
            <label for="tel">Telefone</label>
            <input type="text" class="form-control" id="destel" name="destel" aria-describedby="emailHelp" placeholder="Telefone">
          </div>
          <div class="form-group">
            <label for="idlogin">Login</label>
            <input type="text" class="form-control" id="deslogin" name="deslogin" aria-describedby="emailHelp" placeholder="Login">
          </div>
          <div class="form-group">
            <label for="idsenha">Senha</label>
            <input type="password" class="form-control" id="dessenha" name="dessenha" aria-describedby="emailHelp" placeholder="Crie uma senha">
          </div>
          <button type="submit" class="btn btn-primary" onclick="return confirm('Deseja cadastrar')">Cadastrar</button>
        </form >


   </div>   





</div>